<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="./css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <title>Servidor del Algoritmo de Berkeley</title>
</head>
<body data-ng-controller="Controller">
<div class="container section">
    <h1>Servidor DPoS</h1>
    <div class="divider"></div>
    <div class="row">
        <div class="col s9">
            <table class="centered responsive-table highlight">
                <thead>
                <tr class="black-text">
                    <th>IP</th>
                    <th>Puerto</th>
                    <th>Nombre</th>
                    <th>Votos</th>
                    <th>Participación</th>
                    <!--                    <th>Delegado</th>-->
                </tr>
                </thead>
                <tbody id="table-body">
                <tr class="item-table" ng-repeat="node in nodes">
                    <td>{{node.ip}}</td>
                    <td>{{node.port}}</td>
                    <td>{{node.name}}</td>
                    <td>{{node.votes}}</td>
                    <td>{{node.stake}}</td>
                    <!--                    <td><label><input class="black-check" type="checkbox" checked="checked"-->
                    <!--                                      disabled="disabled"/><span></span></label></td>-->
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col s3">
                    <button data-ng-click="initVotation()" ng-disabled="initButton"
                            class="btn-small waves-effect waves-light black">
                        <i class="material-icons right">play_arrow</i>Iniciar votación
                    </button>
                </div>
                <div class="preloader-wrapper small active" ng-show="activeVotation==true">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Procesos</h4></li>
                <li class="collection-item" ng-repeat="task in process">{{task}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Compiled and minified JavaScript -->
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/controller.js"></script>
</body>
</html>
